<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV Resume</title>
  <style>


  </style>
</head>
<body>
<div class="nav-bar">
  <button>Back to Dashboard</button>
  <button>List of Resumes</button>
  <button>Log-out</button>
</div>
<h1>Create your Resume</h1>
<p>Feel your information down in the input feel</p>
<h2>Personal Information</h2>
<div>
  <form class="input-form">
      <label>First Name</label>
      <input type="text">
        <br>
      <label>Surname</label>
      <input type="text">
      <br>
      <label>Adresse</label>
      <input type="text">
      <br>
      <label>City</label>
      <input type="text">
      <label>Zip Code</label>
      <input type="text">
      <br>
      <label>Email</label>
      <input type="email">
      <br>
      <label>Phone</label>
    <input type="phone">
    <br>
      <img src="../1.png"/>

    <h2>Experience</h2>
    <label>Company Name</label>
    <input type="text">
    <br>
    <label>Job Title</label>
    <input type="text">
    <br>
    <label>Duration</label>
    <input type="text">
    <br>
    <img src="../2.PNG"/>

    <h2>Education</h2>
    <label>School Name</label>
    <input type="text">
    <br>
    <label>Field of Study</label>
    <input type="text">
    <br>
    <label>Years</label>
    <select>
        <option>0</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
  </form>
</div>

<button>Next Step</button>
</body>
</html>